<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Recuperar senha</title>
  </head>
  <body>
    <h1>Recuperar senha</h1>
    <p>Continue para esta URL para recuperar sua senha:
      <a href='{{url}}/recover/{{code}}'>{{url}}/recover/{{code}}</a></p>
    <p>Recuperação válida por {{expiration}} hora(s)</p>
  </body>
</html>